// contains global styles, such as resets, typography, colors, etc.

// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

@import "header";
@import "footer";

// Body
$body-bg: #f5f8fa;
body {
  font-size: $font-size-base;
}

// Typography
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;