//@import '../../../../styles/mv-variables';
//@import '../../../../styles/utils/mixins';
//@import '../button/button.component.scss';

.mv-link {
  display: inline-block;
  cursor: pointer;

  a {
    height: 8em;
    width: 8em;

    display: block;
    position: relative;
    border-radius: 50%;

    img {
      object-fit: cover;
      height: 100%;
      width: 100%;
    }
  }
}